@model IEnumerable<WebStore.DomainCore.Entities.Employee>

<div class="container">
    <vc:employee-data></vc:employee-data>
</div>

@section Styles
{
    <style>
        #empl-table {
            background: azure;
        }
    </style>
}
