@model WebStore.ViewModels.OrderViewModel


<div class="row">
    <form asp-controller="Cart" asp-action="CheckOut" asp-antiforgery="true" method="post">
        <div class="col-sm-6">


            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="form-group"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="form-group text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone" class="form-group"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="form-group text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="form-group"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="form-group text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="total_area">
                <ul>
                    <li>Cart Sub Total <span>$59</span></li>
                    <li>Eco Tax <span>$2</span></li>
                    <li>Shipping Cost <span>Free</span></li>
                    <li>
                        Total
                        <span>$@(ViewData["Total"] ?? 0)</span>
                    </li>
                </ul>
                <input class="btn btn-default check_out" asp-controller="Cart" asp-action="CheckOut" value="Оформить" type="submit" />
            </div>
        </div>
    </form>
</div>


