@model WebStore.DomainCore.Entities.Product



<div class="container">

    <form asp-controller="Product" asp-action="Edit" method="post">

        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Name" class="form-group"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="form-group"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="form-group"></label>
            <select class="mdb-select md-form">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <span asp-validation-for="Name"></span>
        </div>

        <button class="btn-default" type="submit">Сохранить</button>
    </form>


</div>


<script>
    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });
</script>
