
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="active-link">
                <a asp-controller="Product" asp-action="Index" asp-area="Admin"><i class="fa fa-file"></i>Товары</a>
            </li>


            <li class="active-link">
                <a href="index.html"><i class="fa fa-circle"></i>Бренды</a>
            </li>
        </ul>
    </div>

</nav>