@using WebStore.Infastrature.Interfaces
@using WebStore.ViewModels
@model WebStore.ViewModels.CatalogViewModel


@await Html.PartialAsync("Partial/_Slider")
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("_LeftSideBar")
            </div>

            <div class="col-sm-9 padding-right">
                
                @inject IProductData catalog
                @{
                    var products = catalog.GetProducts().Select(p => new ProductViewModel()
                    {
                        Order = p.Order,
                        Name = p.Name,
                        SectionId = p.SectionId,
                        BrandId = p.BrandId,
                        Price = p.Price,
                        ImageUrl = p.ImageUrl,
                        Id = p.Id
                        
                    });
                }

                @await Html.PartialAsync("_FeaturesItems", @products)

                @await Html.PartialAsync("Partial/_CategoryTab")

                @await Html.PartialAsync("Partial/_RecommendedItems")

            </div>
        </div>
    </div>
</section>